<div class="search-container">
  <input
    type="text"
    placeholder="Buscar película..."
    [(ngModel)]="searchTerm"
    (keyup.enter)="searchMovies()"
  />
  <button (click)="searchMovies()">Buscar</button>
</div>

@if (isLoading) {
  <div>Cargando...</div>
}

@if (errorMessage) {
  <div>{{ errorMessage }}</div>
}

@if (movies.length) {
  <ul>
    @for (movie of movies; track movie.imdbID) {
      <li>
        <a [routerLink]="['/movie', movie.imdbID]">
          <h3>{{ movie.Title }}</h3>
        </a>
      </li>
    }
  </ul>
}
